<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce Project</title>
    <link rel="stylesheet" href="./style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" ></script>
</head>
<body>
    <header>
        <ul>
            <li><a href="./index.html">HOME</a></li>
            <li><a href="./dynamicstore.html">STORE</a></li>
            <li><a href="./about.html">ABOUT</a></li>
            <li><a href="">ORDERS</a></li>
        </ul>
        <h1>The Generics</h1>
    </header>
    <!-- <header>
        <h6><a href="#">STORE</a></h6>
        <h1>The Generics</h1>
    </header> -->
    <section id="orders">
        <h1>Your Orders</h1>
        <div id="orders-content">
        </div>
    </section>
    <div id="pagination">
    </div>
    <footer>
        <div class="footer-title">
            The Generics
        </div>
        <div class="footer-icons">
            <ul>
                <li><a href="https://www.youtube.com">
                    <img src="https://images.unsplash.com/photo-1611162616475-46b635cb6868?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80" alt="">
                </a></li>
                <li><a href="https://spotify.com">
                    <img src="https://images.unsplash.com/photo-1611339555312-e607c8352fd7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80" alt="">
                </a></li>
                <li><a href="https://facebook.com">
                    <img src="https://images.unsplash.com/photo-1611162618071-b39a2ec055fb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80" alt="">
                </a></li>
            </ul>
        </div>
    </footer>
    <script src="./index.js" defer></script>
</body>
</html>